<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header">
          <h3 class="mb-0">Logg Inn</h3>
        </div>
        <div class="card-body">
          <% if (locals.error) { %>
          <div class="alert alert-danger" role="alert"><%= error %></div>
          <% } %> <% if (locals.message) { %>
          <div class="alert alert-success" role="alert"><%= message %></div>
          <% } %>
          <form action="/login" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">E-post</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Passord</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              />
            </div>
            <button type="submit" class="btn bg-dark text-white w-100">
              Logg Inn
            </button>
          </form>
          <div class="mt-3 text-center">
            <p>Har du ikke en konto? <a href="/register">Registrer deg her</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
